{{template "base" .}}

{{define "title"}}monitor{{end}}


{{define "main"}}


<hr>
<div class="row">
<table class="table table-borderless table-sm">
  <thead>
    <tr>
      <th scope="col">Amp. Status</th>
      <th scope="col">Amp. Power</th>
    	<th scope="col">Air Temp.</th>
      <th scope="col">Heatsink Temp.</th>
    	<th scope="col">Door Status</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td scope="col" id="ampStatus">{{.AmpStatus}}</td>
    	<td scope="col" id="ampPower">{{.AmpPower}}</td>
    	<td scope="col" id=airTemp>{{.AirTemp}}</td>
      <td scope="col" id=sinkTemp>{{.SinkTemp}}</td>
    	<td scope="col" id=doorStatus>{{.DoorStatus}}</td>
    </tr>
  </tbody>
</table>
<p id="noConnection">{{.Msg}}</p>
</div>
<br>
<hr>
<div class="row">
<div id="chartContainer" style="height: 400px; width: 100%;"></div>
</div>

<!-- Add Modal -->
<div class="modal fade" id="smallModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" style="background-color: #FEEAE6" id="peep1">
      <!-- <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div> -->
      <div class="modal-body" style="background-color: #FEEAE6" id="peep">
        <table class="table table-borderless table-sm text-center">
          <thead>
            <tr>
              <th scope="col">Amp. Power</th>
            	<th scope="col">Air Temp.</th>
              <th scope="col">Heatsink Temp.</th>
            </tr>
          </thead>
          <tbody>
            <tr>
            	<td scope="col" id="ampPower">{{.AmpPower}}</td>
            	<td scope="col" id=airTemp>{{.AirTemp}}</td>
              <td scope="col" id=sinkTemp>{{.SinkTemp}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{{end}}
